
.container {
    background-color: #1c1c1c; /* Color de fondo negro */
    padding: 1rem;
    margin-top: 5rem;
    position: relative;
  }
  .border-gray-custom {
    border-color: #606060; /* Color grisáceo */
  }
